<h1>Books#index</h1>
<%= render "layouts/error", obj: @book %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "users/info", user: current_user %>
      <%= render "books/new", book: @book %>
    </div>
    
  </div>
</div>